<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1><span>mr</span><span class="spark">spark</span><span>le</span></h1>
            </div>
            <div style="float: right;">
            @{Html.RenderPartial("_TagSearchPartial");}
            </div>
            @*<div id="menucontainer">

               <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>

            </div>*@
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            <span>this site utilizes the <a href="http://www.famfamfam.com/lab/icons/silk/">famfamfam silk icon set</a></span>
            </div>
        </div>
    </div>
</body>
</html>
